/*public*/
.mai-icon{
	width: 40px;
    height: 40px;
    background: #40d2b1;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
    font-size: 18px;
    color: #fff;
}

/*导航*/
.navbar-fixed-top{
	box-shadow: 0 2px 10px #696868;
}
.navbar-default .navbar-brand{
	color:#40D2B1;
	height:60px;
	line-height: 30px;
	font-size: 30px;
	font-weight: bold;
}
.navbar-default{
	background: #fff;
}
.navbar-default .navbar-nav>li>a{
	color: #666666;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
}
.navbar-default .navbar-nav>li>a:hover{
	color: red;
}

/*home*/
#home{
	width:100%;
	background: url(../img/home-bg.jpg);
	background-size: cover;
	margin-top: 61px;
}
.lvjing{
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.6);
	text-align: center;
	color: #fff;
	padding: 90px 0;
}
.lvjing .col-md-10 p{
	line-height:40px;
}

/*bbs*/
#bbs{
	padding: 70px 0;
	text-align: center;
}
#bbs h3{
	font-weight: bold;
}
#bbs .col-md-4{
	padding: 10px 0;
}
#bbs .col-md-4:hover{
	background: #f1f1f1;
	box-shadow: 2px 2px 2px #ccc;
}
#bbs .col-md-4 a{
	color: #090101;
	text-decoration: none;
}
#bbs .col-md-4 img{
	margin:0 auto;
}

/*html5*/
#html5{
	background: #f8f8f8;
	padding: 80px 0;
}
#html5 h3{
	font-weight: bold;
	font-size: 32px;
}

/*bootstrap*/
#bootstrap{
	padding: 80px 0;
}
#bootstrap h3{
	font-weight: bold;
	font-size: 32px;
}

/*course*/
#course{
	background: #f8f8f8;
	padding: 80px 0;
	text-align: center;
}
#course h2{
	font-weight: bold;
	margin-bottom: 50px;
}
#course .col-md-3{
	background: #fff;
	padding: 0 15px;
	background: #f8f8f8;
	margin-top: 20px;
}
#course .col-md-3 .course{
	background: #fff;
}
#course .col-md-3 img{
	width:100%;
}
#course .col-md-3 a{
	color:#40d2b1;
	border: 1px solid #40d2b1;
	padding: 10px 30px;
	margin: 20px 0 30px 0;
	transition: all 0.5s;
}
#course .col-md-3 a:hover{
	color: #fff;
	background: #1ED534;
}

/*app*/
#app{
	padding: 80px 0;
}
#app h2{
	font-weight: bold;
}
#app p{
	margin: 40px 0 20px 0;
}
#app .btn-primary{
	background: #40d2b1;
	padding: 7px 30px;
	border-radius: 0;
	border:none;
	margin-bottom: 10px;
}
#app .btn-primary:hover{
	background: rgb(44, 142, 120);
	transition: all 0.5s;
}
#app .btn-primary span{
	margin-right: 5px;
}

/*contact*/
#contact{
	background: url(../img/contact-bg.png) no-repeat;
	background-size: cover;
}
#contact p{
	margin:30px;
}
#contact address p{
	margin:22px;
}
#contact .form-control{
	border: none;
	margin-bottom: 15px;
	border-radius: 0;
	height:50px;
}
#contact textarea.form-control{
	height:auto;
}
#contact input[type="submit"]{
	background: #40d2b1;
	color: #fff;
	font-weight: bold;
	transition: all 0.5s;
}
#contact input[type="submit"]:hover{
	background: rgb(44, 142, 120);
}


footer{
	padding: 20px 0;
}